<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="fragment" content="!" />
        <title>Index</title>

        <script type="text/javascript" src="vplus/vendor/ng-grid/lib/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="vplus/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular-ui/ui-utils.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular-ui/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular-ui/ng-grid/ng-grid-2.0.7.min.js"></script>
        <link type="text/css" rel="stylesheet" href="vplus/vendor/angular-ui/ng-grid/ng-grid.min.css" />

        <script type="text/javascript" src="vplus/src/VPlusNamespace.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusConf.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusServices.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusCtrls.js"></script>
        <link type="text/css" rel="stylesheet" href="vplus/css/style.css" />

        <script type="text/javascript">
            angular.module('VPlus.Config')
                    .constant('URL', '/vplus-web/my')
                    .value('menus', [
                        {title: 'Home', url: '/', },
                        {title: 'New', url: '/new'},
                        {title: 'Foo', url: '/foo'}
                    ])

                    .config(['$routeProvider', function($routeProvider) {
                        $routeProvider
                            .when('/', {templateUrl: 'home.html', controller: 'NewCtrl'})
                            .when('/new', {templateUrl: 'new.html', controller: 'NewCtrl'})
                            .when('/foo', {templateUrl: 'foo.html', controller: 'NewCtrl'})
                            .otherwise({redirectTo: '/'});
                    }]);

                    angular.module('VPlus').controller('NewCtrl', ['$scope', function($scope) {
                    
                    }]);
        </script>
    </head>
    <body data-ng-app="VPlus" data-ng-controller="CrudCtrl">
        <div>
            <div class="navbar">
                <div class="navbar-inner">
                    <span class="brand">VPlus System Sample</span>
                    <ul class="nav">
                        <li data-ng-repeat="menu in menus" class="{{getActive($index)}}">
                            <a href="#{{menu.url}}">{{menu.title}}</a>
                        </li>
                    </ul>
                    <div class="container pull-right">
                        <div class="nav filters">
                            <button type="button" class="btn btn-primary" data-ng-click="filter('All')">All</button>
                            <button type="button" class="btn btn-primary" data-ng-click="filter('Active')">Active</button>
                            <button type="button" class="btn btn-primary" data-ng-click="filter('Inactive')">Disabled</button>
                            <button type="button" class="btn btn-primary" data-ng-click="filter('Removed')">Removed</button>						
                        </div>

                        <div class="navbar-search">
                            <input type="text" data-ng-model="gridOptions.filterOptions.filterText" class="search-query" placeholder="Search by name"/>
                        </div>
                    </div>
                </div>
            </div>
            <alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            <div ng-view></div>
        </div>
    </body>
</html>