<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>

        <script type="text/javascript" src="vplus/vendor/ng-grid/lib/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="vplus/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/ui-utils.min.js"></script>
        <script type="text/javascript" src="//raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-0.5.0.min.js"></script>
        <script type="text/javascript" src="//raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.5.0.min.js"></script>
        <script type="text/javascript" src="vplus/vendor/angular-ui/ng-grid/ng-grid-2.0.7.min.js"></script>
        <link type="text/css" rel="stylesheet" href="vplus/vendor/angular-ui/ng-grid/ng-grid.min.css" />

        <script type="text/javascript" src="vplus/src/VPlusNamespace.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusConf.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusServices.js"></script>
        <script type="text/javascript" src="vplus/src/VPlusCtrls.js"></script>
        <link type="text/css" rel="stylesheet" href="vplus/css/style.css" />

        <script type="text/javascript">
            angular.module('VPlus.Config')
                    .constant('URL', '/vplus-web/my/:id');
            angular.module('VPlus').controller('MyCtrl', ['$scope',
                function($scope) {

                    $scope.status = 'Active';
                    $scope.$watch('status', function(value, old) {
                        $scope.$broadcast('reload');
                    });

                    $scope.gridOptions = {
                        data: 'list',
                        showFooter: true,
                        filterOptions: {
                            filterText: '',
                            useExternalFilter: false
                        },
                        minWidth: 200,
                        multiSelect: false,
                        columnDefs: [{
                                field: 'name',
                                displayName: 'Name'
                            }, {
                                field: 'status',
                                displayName: 'Status'
                            }, {
                                field: "created.time",
                                displayName: 'Created',
                                cellFilter: 'date:"short"'
                            }, {
                                field: "modified.time",
                                displayName: 'Modified',
                                cellFilter: 'date:"short"'
                            }, {
                                cellTemplate: '<div data-ng-include src="\'tmpl/buttons.html\'"></div>',
                                displayName: 'Action',
                                width: 100
                            }
                        ]
                    };

                }]);
        </script>
    </head>
    <body data-ng-app="VPlus" data-ng-controller="CrudCtrl">
        <div data-ng-controller="MyCtrl">
            <div class="navbar">
                <div class="navbar-inner">
                    <span class="brand">My Database</span>
                    <div class="container pull-right">
                        <div class="nav">
                            <button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Active'">Active</button>
                            <button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Inactive'">Inactve</button>
                            <button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Removed'">Removed</button>						
                        </div>

                        <div class="navbar-search">
                            <input type="text" data-ng-model="gridOptions.filterOptions.filterText" class="search-query" placeholder="Search by name"/>
                        </div>
                    </div>
                </div>
            </div>
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            <tabset>
                <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                    <div data-ng-include src="tab.content"></div>
                </tab>
            </tabset>
        </div>
    </body>
</html>