/* app css stylesheet */
.fixed {
	position: fixed;
}

.center {
	text-align: center;
}

.modal {
	display: block;
	height: 0;
	overflow: visible;
}

.modal-backdrop {
	opacity: 0.75;
}

section > .container > .row {
	margin: 30px 0;
}

footer > .container > .row {
	margin: 15px;
}

section .container .row .col-md-8 .row {
	margin: 0;
}

.well.well-transparent {
	background-color: white;
	border: 1px solid #E3E3E3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	border-radius: 6px 6px 6px 6px;
}

.lead {
	font-size: 20px;
	font-weight: 200;
	line-height: 30px;
}

.copyleft {
	line-height: 35px;
	vertical-align: middle;
}

.container .row .lead a {
	text-decoration: none;
}

.icon-stack:hover {
	text-decoration: underline;
}

.geometry {
	background: url(/vp-static/img/geometry.png) repeat scroll 0% 0% transparent;
}

.no-bullets {
	list-style-type: none;
}

.checkbox-group {
	list-style-type: none;
	padding: 12px;
	border: 2px solid #DCE4EC;
    border-radius: 4px 4px 4px 4px;
}

.checkbox-group > li label {
	font-weight: normal;
	margin-bottom: 0;
}

.checkbox-group-pull-left > li {
	display: inline-block;
}

.checkbox-group-pull-left > li:AFTER {
	content: '\00a0\00a0\00a0';
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/**** ADMIN ***/

.admin section > .row {
	margin: 20px;
}

/**** BLOG ****/
