<form data-ng-submit="update()">
    <fieldset>
        <legend>Form</legend>
        <label>Name:</label>
        <input type="text" data-ng-model="model.name" placeholder="Name" required="required"/>
        <label>Status:</label>
        <select data-ng-model="model.status" required="required">
            <option value="">::Select</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Removed">Removed</option>
        </select>
        <br/>
        <button class="btn" type="submit">Save!</button>
        <button class="btn" type="button" data-ng-click="reset()">Cancel</button>
    </fieldset>
</form>