<div class="nav">
	<button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Active'">Active</button>
	<button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Inactive'">Inactve</button>
	<button type="button" class="btn btn-primary" data-ng-model="status" data-btn-radio="'Removed'">Removed</button>						
</div>

<div class="navbar-search">
	<input type="text" data-ng-model="gridOptions.filterOptions.filterText" class="search-query" placeholder="Search by name"/>
</div>
