/* 
    Document   : style
    Created on : Aug 9, 2013, 10:04:23 PM
    Author     : denilson
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding: 10px;
}

.nav-tabs li {
    cursor: pointer;
}

.grid {
    border: 1px solid rgb(212, 212, 212);
    height: 600px;
}

.col0 {
    width: 100px;
}

.col4 {
    text-align: center;
}

.filters .btn {
    width: 80px;
}

.navbar .nav > li > a {
    outline: none;
}
